* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media only screen and (min-width: 767px) {
  .mainmenu .collapse ul li:hover > ul {
    display: block;
  }
  .mainmenu .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    display: none;
  }
  /*******/
  .mainmenu .collapse ul ul li {
    position: relative;
  }
  .mainmenu .collapse ul ul li:hover > ul {
    display: block;
  }
  .mainmenu .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none;
  }
  /*******/
  .mainmenu .collapse ul ul ul li {
    position: relative;
  }
  .mainmenu .collapse ul ul ul li:hover ul {
    display: block;
  }
  .mainmenu .collapse ul ul ul ul {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 250px;
    display: none;
    z-index: 1;
  }
}

header.masthead {
  position: relative;
  background-image: linear-gradient(150deg, rgba(255, 251, 45, 0.425), rgba(255, 250, 250, 0.192), rgba(255, 88, 88, 0.315)), url("../img/land-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 50vh;
}

header.masthead .overlay {
  position: absolute;
  background-color: #646464;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: rgba(255, 42, 5, 0.89);
}

header.masthead .arrows {
  max-width: 1180px;
  width: 100vw;
  font-family: 'Flamenco', cursive;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  text-align: center;
  width: 60px;
  height: 72px;
}

header.masthead .arrows path {
  stroke: rgba(102, 255, 255, 0.966);
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

header.masthead .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

header.masthead .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

header.masthead .arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 2.4rem;
    font-family: 'Work Sans', sans-serif;
    color: rgba(228, 72, 0, 0.89);
  }
}

@media (min-width: 991px) {
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 3.4rem;
    font-family: 'Work Sans', sans-serif;
    color: rgba(228, 213, 0, 0.89);
  }
}

.call-to-action {
  position: relative;
  background-color: #646464;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #646464;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.custom-nav {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 181, 43, 0.4)), to(rgba(255, 57, 57, 0.4)));
  background-image: linear-gradient(90deg, rgba(255, 181, 43, 0.4), rgba(255, 57, 57, 0.4));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.custom-nav .brand-logo {
  height: 2.7rem;
  width: 2.5rem;
}

.custom-nav .navbar-tit {
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  color: #fb0000;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-left: 0.6rem;
}

.custom-nav .navbar-tit:hover {
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  letter-spacing: .1rem;
  color: rgba(251, 0, 0, 0.6);
}

.ccat {
  min-height: 100vh;
  background-image: linear-gradient(100deg, rgba(30, 30, 30, 0.3), rgba(200, 200, 200, 0.5));
}

.ccat .ccat-text {
  padding: 3rem;
  font-size: 60px;
}

.ccat .ccat-text .sec-tit-p {
  color: #fff;
  background-color: rgba(14, 179, 255, 0.712);
  padding-left: 0;
  padding-right: 0;
}

.ccat .ccat-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .ccat .ccat-text {
    padding: 7rem;
  }
}

.ccat-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.ccat-icons .ccat-icons-item {
  max-width: 20rem;
}

.ccat-icons .ccat-icons-item .ccat-icons-icon {
  height: 7rem;
}

.ccat-icons .ccat-icons-item .ccat-icons-icon i {
  font-size: 4.5rem;
}

.ccat-icons .ccat-icons-item:hover .ccat-icons-icon i {
  font-size: 5rem;
}
